{% extends 'base.html.twig' %}

{% block title %}Create New Product{% endblock %}

{% block body %}

<h1>Create New Product</h1>

{{ form(form)}}

{% endblock %}

{# Uncomment and add stylesheets if needed
{% block stylesheets %} 
#}